# First Steps with xlwings

## Using xlwings as a Data Viewer

In [1]:
import xlwings as xw
import pandas as pd
import numpy as np

__numpy array__

In [3]:
data1 = np.random.randint(1, 100, 10000).reshape(100, 100)
data1

array([[ 5,  6, 29, ...,  5, 79, 29],
       [30, 67, 41, ..., 23,  4,  9],
       [15, 83, 38, ..., 82, 97, 93],
       ...,
       [98, 82, 91, ..., 60, 48, 16],
       [98, 58, 52, ..., 78, 95,  7],
       [13, 53, 93, ..., 53, 16, 48]])

In [4]:
data1.shape

(100, 100)

In [5]:
# muestra el archhivo excel con la data creada
xw.view(data1)

In [6]:
data2 = np.random.randint(1, 100, 100).reshape(10, 10)
data2

array([[50, 33, 66, 15, 23, 25, 76, 44,  8, 37],
       [23, 65, 54, 18, 46, 30, 48, 57, 73, 22],
       [96, 76, 23, 87, 37,  2, 18, 72, 91, 30],
       [13, 12, 90, 32, 81,  6, 27,  5, 22, 58],
       [55, 46, 38, 32, 50, 89,  1, 19, 96, 30],
       [79,  6, 45,  5, 78, 76, 75, 13, 31, 71],
       [12, 54, 65, 48, 58, 26, 51, 60, 39, 80],
       [60, 59, 92, 38, 65, 90,  7, 60, 46, 57],
       [58, 18, 56, 83, 80, 28, 51, 75, 38, 20],
       [51, 85, 19, 93,  7, 85, 11, 66, 62, 60]])

In [7]:
xw.view(data2)

In [8]:
xw.view(data2, sheet = xw.sheets.active)

__Pandas DataFrame__

In [9]:
df = pd.read_csv("titanic.csv")

In [10]:
df

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [11]:
pd.options.display.max_rows = 900

In [12]:
xw.view(df)

## Connecting to a Book

In [13]:
import xlwings as xw

### 1. Open a new Book

In [14]:
# abre un nuevo libro o archivo de excel
xw.Book()

In [15]:
xw.books.active

In [16]:
# cierra el libro actual
xw.books.active.close()

In [17]:
wb = xw.Book()

In [18]:
wb

In [19]:
wb.close()

### 2. Connect to an open, unsaved Book

In [ ]:
wb = xw.Book("Book1")
wb

### 3. Connect to a saved Book

In [26]:
r"C:\Users\Dael\Documents\1._IT\1_PYTHON\commited\Excel and Python\xlwings\Section2_First_Steps\Test2.xlsx"

'C:\\Users\\Dael\\Documents\\1._IT\\1_PYTHON\\commited\\Excel and Python\\xlwings\\Section2_First_Steps\\Test2.xlsx'

In [22]:
path = r"C:\Users\Dael\Documents\1._IT\1_PYTHON\commited\Excel and Python\xlwings\Section2_First_Steps\Test2.xlsx"  # Windows

In [ ]:
#path = "/Users/hagma_w/Desktop/Test1.xlsx" #macOS and Linux

In [23]:
wb = xw.Book(path)
wb

In [25]:
wb = xw.Book("Test2.xlsx")
wb

## Reading and Writing single Values

In [27]:
import xlwings as xw

In [28]:
wb = xw.Book()
wb

In [29]:
sheet = wb.sheets[0]
sheet

In [30]:
xw.books.active

In [31]:
xw.sheets.active

### Writing a single Value

In [32]:
sheet.range("A1").value = "Hello World" # strings

### Reading a single Value

In [33]:
sheet.range("A1").value

'Hello World'

In [34]:
sheet.range("A1")

In [35]:
sheet.range((1, 1)).value

'Hello World'

In [36]:
sheet.range((1, 2)).value = 123 # numerical values

In [37]:
sheet.range("B1").value

123.0

In [38]:
int(sheet.range("B1").value)

123

__datetime objects__

In [39]:
import datetime as dt

In [40]:
date = dt.datetime(2020, 3, 20, 15, 30, 45)
date

datetime.datetime(2020, 3, 20, 15, 30, 45)

In [41]:
sheet.range("A2").value = date # datetime objects

In [42]:
sheet.range("A2").value

datetime.datetime(2020, 3, 20, 15, 30, 45)

In [43]:
sheet.range("A1").clear_contents()

## Assigning a Name (named ranges)

In [44]:
sheet.range("A1").value = 1000

In [45]:
sheet.range("A1").value

1000.0

In [46]:
sheet.range("A1").name = "Number"

In [47]:
sheet.range("Number").value

1000.0

In [48]:
sheet.range("Number").name

## Writing Excel Functions with Python

In [49]:
import xlwings as xw

In [50]:
wb = xw.Book()
wb

In [51]:
sheet = wb.sheets[0]
sheet

In [52]:
sheet.range("A3").formula = "=SUM(A1:A2)"

In [53]:
sheet.range("A3").value

0.0

In [54]:
sheet.range("A3").formula

'=SUM(A1:A2)'

In [55]:
sheet.range("B1").formula = "=A1"

In [56]:
sheet.range("B1").formula

'=A1'

## Range Shortcuts

In [57]:
import xlwings as xw

In [58]:
wb = xw.Book()
wb

In [59]:
sheet = wb.sheets[0]
sheet

In [60]:
sheet.range("A1").value = 100

In [61]:
sheet.range("A1").value

100.0

In [62]:
sheet["B1"].value = 100

In [63]:
sheet["B1"].value

100.0

## Case Study - bringing it all together

In [ ]:
!pip install numpy-financial

In [65]:
import xlwings as xw
import numpy_financial as npf # NEW
import numpy as np

In [66]:
wb = xw.Book("CaseStudy_1.xlsx")
wb

In [67]:
sheet = wb.sheets[0]
sheet

In [68]:
sheet.range("B1").name = "Saving"

In [69]:
sheet.range("B2").name = "Interest_Rate"

In [70]:
sheet.range("B3").name = "Periods"

In [71]:
sheet.range("B4").name = "Future_Value"

In [72]:
fv = -npf.fv(rate = sheet.range("Interest_Rate").value, 
            nper = sheet.range("Periods").value, 
            pmt = 0, 
            pv = sheet.range("Saving").value
           )

In [73]:
fv

121.55062500000003

In [74]:
sheet.range("Future_Value").value = fv

# Homework

Import the required Library.

Open a new workbook and create a conncetion to that workbook with xlwings. Create a sheet object.

Type two numbers of your choice into the cells A1 and B1 (no Python Code required).

Create named ranges for both cells and read the values into Python with xlwings.

Move the cells in Excel and change their values (no Python Code required).

Read the values into Python, calculate the sum in Python, and write the sum into any other cell with xlwings.

Open the Excel file "Test2.xlsx" and change the value in cell C1 from 2 to "two".

Try to create an xlwings connection to any excel workboook of your choice on your computer and read and write values.

# +++ Stop here, if you don´t want to see the Solution! +++

----------------------------

## Homework Solution

Import the required Library.

In [ ]:
import xlwings as xw

Open a new workbook and create a conncetion to that workbook with xlwings. Create a sheet object.

In [ ]:
wb = xw.Book()

In [ ]:
sheet = wb.sheets[0]

Type two numbers of your choice into the cells A1 and B1 (no Python Code required).

Create named ranges for both cells and read the values into Python with xlwings.

In [ ]:
sheet.range("A1").name = "Number1"

In [ ]:
sheet.range("B1").name = "Number2"

In [ ]:
sheet.range("Number1").value

In [ ]:
sheet.range("Number2").value

Move the cells in Excel and change their values (no Python Code required).

Read the values into Python, calculate the sum in Python, and write the sum into any other cell with xlwings.

In [ ]:
add_numbers = sheet.range("Number1").value + sheet.range("Number2").value

In [ ]:
add_numbers

In [ ]:
sheet.range("F10").value = add_numbers

Open the Excel file "Test2.xlsx" and change the value in cell C1 from 2 to "two".

In [ ]:
wb = xw.Book("Test2.xlsx")

In [ ]:
sheet = wb.sheets[0]

In [ ]:
sheet.range("C1").value = "two"

Try to create an xlwings connection to any excel workboook of your choice on your computer and read and write values.

In [ ]:
# see Lecture "How to connect to a workbook" (connect to a saved book)